<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Área do Triângulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small"> Área do Triângulo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label position='floating'> Lado A: </ion-label>
      <ion-input [(ngModel)]="num1" type="number"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position='floating'> Lado B: </ion-label>
      <ion-input [(ngModel)]="num2" type="number"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position='floating'> Lado C: </ion-label>
      <ion-input [(ngModel)]="num3" type="number"> </ion-input>
    </ion-item>

    <ion-button shape="round" color='dark'(click) ="soma()">Descobrir Area</ion-button> <!-- (click)="" -->

    <!-- é pra colocar um alert vibe modal -->
  </div>
</ion-content>


<!-- 1 se existe e o tipo

2 area baseadp nos lados

3 tela area baseado em area e altura -->