<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Verificar de Triângulos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Verificar de Triângulos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label position='floating'> Lado A: </ion-label>
      <ion-input [(ngModel)]="ladA" type="number"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position='floating'> Lado B: </ion-label>
      <ion-input [(ngModel)]="ladB" type="number"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position='floating'> Lado C: </ion-label>
      <ion-input [(ngModel)]="ladC" type="number"> </ion-input>
    </ion-item>

    <ion-button shape="round" color='dark' (click)="verif()">Verificar triangulo</ion-button> <!-- (click)="verif()" -->
    <br>
    <ion-p> {{ saida }} </ion-p>
    <br>
    <ion-p> {{tipo}} </ion-p>


    <ion-img src="{{ imagem }}"></ion-img>

  </div>
</ion-content>
