<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Área do Triângulo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Área do Triângulo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-label position='floating'> Base: </ion-label>
      <ion-input [(ngModel)]="num1" type="number"> </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position='floating'> Altura: </ion-label>
      <ion-input [(ngModel)]="num2" type="number"> </ion-input>
    </ion-item>

    <ion-button shape="round" color='dark' >Descobrir Area</ion-button> <!-- (click)="" -->
  </div>

  
</ion-content>
